
<form action = "{{postendpoint}}" method = "POST">
<br><br>
<div class="w3-panel w3-pale-green w3-leftbar
          w3-rightbar w3-border-green w3-margin-right w3-margin-left">
<h2>Add a New Property</h2>

<table>
<tr>
	<td>
	Address:
	</td><td>
	<input type = "text" name = "address">  <br>
    </td>
<tr>

<tr>
	<td>
  	Zip:
	</td><td>
	<input type = "text" name = "zip"><br>
    </td>
<tr>
<tr>
	<td>
  	Number of Units:
	</td><td>
    <input type = "text" name = "units"><br>
    </td>
<tr>
<tr>
	<td></td>
  <td>
     <input type = "submit" value = "Submit">
  </td>
<tr>
</table>
      </form>
</div>
&emsp;&emsp;props2 POST
